@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#background-container {
    cursor: grab;
    z-index: 5;
}

#background-map {
    padding: 0;
    margin: 0;
    z-index: 10;
}

#background-grid {
    position: absolute;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#background-grid > tbody {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#background-grid > tbody > tr > td {
    border-right: 2px solid #4A505342;
    border-bottom: 2px solid #4A505342;
    height: 21px;
    padding: 0;
    margin: 0;
}

#background-grid > tbody > tr > td:nth-child(-n+41) {
    width: 37px;
}

#background-grid > tbody > tr > td:nth-child(n+42) {
    width: 38px;
}

.selected-cell {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    color: white;
    background-color: #CC00CCCC;
}
