@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#endgame-container {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#endgame-grid {
    background-color: #000000C0;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50%;
}

#endgame-grid > tbody > tr {
    font-family: "Luckiest Guy", cursive;
}

#endgame-grid > tbody > tr > td {
    height: 64px;
}

#endgame-message {
    vertical-align: middle;
    font-size: 36pt;
    color: white;
    width: 100%;
    height: 100%;
}

#button-restart {
    font-family: "Luckiest Guy", cursive;
    height: 100%;
    margin: 10px;
}
