
#guess-container {
    display: inline-block;
    text-align: right;
    font-family: "Luckiest Guy", cursive;
    font-size: 18px;
    color: white;
    padding: 0;
    margin: 30px 0 0 0;
}

#guess-grid {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

#button-back-to-start {
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    vertical-align: middle;
    height: 38px;
}
#guess-grid > tbody > tr > td:nth-child(1){
    text-align: left;
}

.guess-input {
    vertical-align: middle;
    height: 32px;
    width: 42px;
}

#button-guess {
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    vertical-align: middle;
    height: 38px;
}
