:root {
    --game-container-width: 20%;
}

#game-container {
    /* background-color: #414141c0; */
    width: var(--game-container-width);
    height: 100%;
    position: fixed; /* Fixed game-container (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    opacity: 0.6;
}

#game-container:hover {
    opacity: 1.0;
}

/* .game-container-header {
    width: 100%;
    height: auto;
} */

.game-container-footer {
    /* backdrop-filter: blur(5px); */
    background-color: #8d8d8dc0;
    width: var(--game-container-width);
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
