:root {
    --sidebar-width: 20%;
}

#sidebar {
    /* background-color: #414141c0; */
    width: var(--sidebar-width);
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    opacity: 0.6;
}

#sidebar:hover {
    opacity: 1.0;
}

.sidebar-header {
    width: 100%;
    height: auto;
}

.sidebar-footer {
    /* backdrop-filter: blur(5px); */
    background-color: #414141c0;
    width: var(--sidebar-width);
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
