
#startgame-container {
    background-color: #302217;
    min-height: 100%;
    min-height: 100vh;
}

.startgame-logo {
    max-width: 100vw;
    max-height: 100vw;
    padding-top: 2vw;
}

.startgame-list {
    font-size: 14pt;
    list-style-type: none;
}

.startgame-icon {
    font-size: 2rem;
    color: peru;
    padding-right: 12px;
}

.bg-block-rounded {
    max-width: 33vw;
    background-color: #181712;
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(2px);
}

.btn-dofus {
    background-color: var(--btn-dofus);
    color: white;
}
.btn-dofus:hover {
    background-color: var(--btn-dofus-hover);
    color: white;
}
.btn-dofus:disabled {
    background-color: var(--btn-dofus-disabled);
    color: white;
}
