
#game_grid {
    text-align: center;
}

#endgame_overlay {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 50%;
}

#endgame_overlay > p {
    color: #FFF;
    background-color: #000000C0;
    text-align: center;
    font-size: 36pt;
}
