
#game-grid {
    text-align: center;
}

#endgame-overlay {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 50%;
}

#endgame-overlay > p {
    color: #FFF;
    background-color: #000000C0;
    text-align: center;
    font-size: 36pt;
}

#game-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#guess-container{
    display: inline-block;
}

body {
    position: relative;
    background-image: url(https://solomonk.fr/img/map%201.29.jpg);
    background-color: rgb(69, 53, 29);
    background-repeat: no-repeat;
    background-size: auto;
    width: 5359px;
    height: 3869px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}